{% include header.html %}

<style>
</style>

<div class="container mt-5 pt-5">

    <!-- Pull member data from the `_data` folder. -->
    <!-- Forestry will update new members there -->
    {% assign members = site.data.members %}

    <div class="mt-5"></div>
    <h1>Members</h1>
    <div class="row my-5 align-items-start">
        <div class="col-auto" style="width:250px">
            <h3>{{ members.principle_investigator }}</h3> 
            <b>Principle Investigator</b>
        </div>
        {% if members.photo %}
        <div class="col-sm-12 col-md-12 col-lg-3">
            <img src="{{members.photo}}" style="max-width:100%;"/> 
        </div>
        {% endif %}
    </div>

    <hr/>

    <h2>Researchers</h2>
    {% for researcher in members.researchers %}
        <div class="row my-5">
            <div class="col-auto" style="width:250px;">
                <h4>{{researcher.name}}</h4>
                <p>{{researcher.description}}</p>
            </div>
            {% if researcher.photo and researcher.photo != ''%}
            <div class="col-sm-12 col-md-12 col-lg-3">
                <img src="{{researcher.photo}}" style="max-width:100%;"/> 
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <hr/ >

    <h2>Graduate Students</h2>
    {% for graduate in members.graduate_students %}
        <div class="row my-5">
            <div class="col-auto" style="width:250px;">
                <h4>{{graduate.name}}</h4>
                <p>{{graduate.description}}</p>
            </div>
            {% if graduate.photo and graduate.photo != '' %}
            <div class="col-sm-12 col-md-12 col-lg-3">
                <img src="{{graduate.photo}}" style="max-width:100%; "/> 
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <hr/>


    <h2>Undergraduate Students</h2>
    {% for undergraduate in members.undergraduate_students %}
        <div class="row my-5">
            <div class="col-auto" style="width:250px;">
                <h4>{{undergraduate.name}}</h4>
                <p>{{undergraduate.description}}</p>
            </div>
            {% if undergraduate.photo and undergraduate.photo != '' %}
            <div class="col-sm-12 col-md-12 col-lg-3">
                <img src="{{undergraduate.photo}}" style="max-width:100%;"/> 
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <hr/>


    <h2>Recent Alumni</h2>
    {% for alumni in members.recent_alumni %}
        <div class="row my-5">
            <div class="col-auto" style="width:250px;">
                <h4>{{alumni.name}}</h4>
                <p>{{alumni.description}}</p>
            </div>
            {% if alumni.photo and alumni.photo != ''%}
            <div class="col-sm-12 col-md-12 col-lg-3">
                <img src="{{alumni.photo}}" style="max-width:100%;"/> 
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <hr/>


    <h2>Other Past Students</h2>
    <div>{{members.other_past_students | markdownify}}</div>
    <br><br>

</div>
</div>

{% include footer.html %}
